*{
  margin: 0;
 
 font-family: 'Open Sans', sans-serif; 
}
/* primary color */

.text-primary{
  color: #FD6E0A;

}
.btn-primary{
  color: #ffffff;
  font-weight: 700;
  font-size:20px;
  border: 0;
  padding: 18px 35px;
  height:64px  ;
  border-radius: 5px;
  background: #FD6E0A;
 
}
.header{
  background: #FFF8F3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right,left;
}
 /* header and navigation styles*/

 nav{
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
  
 }
 nav ul{
 display:flex;
 align-items: center;
   
 }
nav li{
   list-style:none;
   margin-left: 50px;
  
  
}

 .nav-title{
font-weight: 800px;
font-size:45px

 }
 /* banner section styles */

 .banner{
  margin: 0 200px;
  align-items: center;
  display: flex;
 }
 
 .banner-sub-title{
  font-weight: 600;
  font-size: 45px;
 }
 
 .banner-title{
font-weight: 700;
font-size: 85px;
margin-bottom:20px ;
 }
 
 .banner-details{
  color:#757575;
  font-size: 18px;
  margin-bottom: 30px;

 }
 /* main section */
main{
max-width:1140px ;
margin: 0 auto;
}



 /* about section styles */
 .about{
  margin-top: 130px;
  background: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;

 }

 .about-title{
text-align: center;
font-size: 35px;
font-weight: 700;
margin-bottom: 30px;


 }
 .about-details{
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;

 }
 .about-info-container{
  display: flex;
  justify-content: space-around;
 }
 .about.info-title{
  color: #757575;
  font-size: 20px;
  

 }
 .info-details{
  font-size: 20px;
  font-weight: 700;
  color: #474747;
 }
 /* what i do section style */
 section{
    margin-top:130px;
 }
 
 .section-title{
  text-align: center;
  margin-bottom:130px;
  font-size: 35px;
  font-weight: 700;
  
  
 }
 .skills-conatainer{
  display: flex;
  gap: 24px;
  
 }
 .skill-title{
  font-weight: 700;
font-size: 20px;
margin-top: 30px;
margin-bottom: 20px;
 }
 .skill-details{
  color: #757575;
 }
 .skill{
  
background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
 }
 /* resume section styles */
 
 .section-title{
  text-align: center;
 }
 .resume-content{
  display: flex ;
  gap: 24px;
 }
 .resume .title{
  color: #474747;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;

 }
 .resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
 }
 .resume.detials{
color: #757575;;

 }
 .resume-item{
  margin-top: 30px;
  margin-bottom: 0px;
 }
 /* hr styles*/
 hr{
  margin-top: 15px;
 }
 /* resume button styles */
 .resume-button{
  margin-top: 50px;
  text-align: center;
 }
 /* contact styles */
 .contact{
  display: flex;
  gap: 100px;
  background: #fff8f3;
  padding: 130px 200px;
 }
 .contact.section-title{
  text-align: left;
 }
 .contact input[type=text], input[type="email"],textarea{
  margin-bottom:24px;
  border: 0;
  width: 100%;
  padding-left: 18px ;
 }
  input{
    height: 64px;
  }
  .details{
    margin-bottom: 20px;
  }